.clouds-front #cloud-1{
  animation: cloud1 30s infinite;
}

@keyframes cloud1 {
  /* 0%   {left : 0px;}
  100% {left : 200px;}*/

  to{ transform: translateX(50%); }
}

.clouds-front #cloud-2{
  animation: cloud2 30s infinite;
}

@keyframes cloud2 {


  to{ transform: translateX(-50%); }
}
