@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.navContainer {
  float: left;
  padding-left: 8%;
  padding-right: 8%;
  width: 85%;
}

.logo {
  font-family: 'Raleway', sans-serif;
  /* font-size: 1.8vw;*/
  font-size: 22px;
  color: red;
  float: left;
}

.menu {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu > li {
  padding: 15px;
}
