.footerWrapper {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: red;
  text-align: center;
  padding: 20px;
  position: sticky;
}

.footerLink {
  color: red;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}
