.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 22px;
  color: red;
}

.icon {
  padding-right: 15px;
  display: inline;
}

.socialIconWrapper {
 padding-left: 10px;
}

.menu {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.menu > a {
  padding: 15px;
  color: red;
  text-decoration: none;
}

.menu > a:hover {
  text-decoration: underline;
}
