.resumeSectionWrapper {
  overflow: hidden;
  padding-bottom: 30px;
}

.resumeSectionWrapper h2{
  font-family: 'Raleway', sans-serif;
  color: #0157B8;
}

.timeline {
  font-family: 'Inconsolata', monospace;
  color: #6593E1;;
  list-style-type: none;
  text-align: right;
  /* border-right: 3px solid #0157B8;; */
  width: 30%;
  float: left;
  padding-inline-start: 0px;
}

.timeline > li {
  padding: 10px;
  border-right: 3px solid #6593E1;;
}

.timeline > li:hover {
  cursor: pointer;
  background-color: rgba(59, 137, 255, 0.1);
}

.timeline .active {
  font-weight: bold;
  font-size: 1.1em;
  color: #0157B8;
  border-right: 3px solid #0157B8;;
}

.timelineDetails {
  font-family: 'Inconsolata', monospace;
  color: #0157B8;
  margin: 10px;
  float: left;
  width: 60%;
}

.timelineDetails h3 {
  margin-block-end: 0.3em
}

.timelineDetails h4 {
  margin-block-start: 0
}
